@model Buscador.ViewModels.TrabalhadorViewModel

@{
    ViewData["Title"] = "Detalhes sobre o Trabalhador";
}

<div class="d-none d-sm-block">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" class="color-theme"><em class="mdi mdi-home"></em> Início</a></li>
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Trabalhadores" class="color-theme">Lista de Trabalhadores</a></li>
            <li class="breadcrumb-item active color-theme" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav>
</div>
<div class="d-sm-none">
    <a asp-action="Index" asp-controller="Trabalhadores" aria-label="Botão Início"><em class="mdi mdi-chevron-left h1"></em> Lista de Trabalhadores</a>
</div>

<hr />

<div class="row">
    <div class="col-md-8 col-lg-9 col-xxl-10">
        <h3>@Model.Profissao</h3>
        <div class="mb-2">
             <small class="h6">Avaliação: <strong>Sem Avaliação</strong></small>
        </div>
    </div>
    <div class="col-md-4 col-lg-3 col-xxl-2">
        <div class="d-grid mx-auto mb-3">
            <a type="button" class="btn text-center text-white bg-theme p-18 pt-3 pb-3" asp-controller="Solicitacao" asp-action="Create" asp-route-trabalhadorId="@Model.Id">
                Solicitar
            </a>
        </div>
    </div>
</div>
<hr />


<div class="card mb-2 pt-2">
    <div class="card-body">
        <div class="row">
            <div class="col-6 col-xl-3 col-md-6 pt-1">
                <small class="text-muted">@Html.DisplayNameFor(model => Model.Nome)</small>
                <h6>@Model.Nome</h6>
            </div>
            <div class="col-6 col-xl-3 col-md-6 pt-1">
                <small class="text-muted">@Html.DisplayNameFor(model => Model.Foto)</small>
                <h6>@Model.Foto</h6>
            </div>
            <div class="col-6 col-xl-3 col-md-6 pt-1">
                <small class="text-muted">@Html.DisplayNameFor(model => Model.Documento)</small>
                <h6>@Model.Documento</h6>
            </div>
            <div class="col-6 col-xl-3 col-md-6 pt-1">
                <small class="text-muted">@Html.DisplayNameFor(model => Model.Email)</small>
                <h6>@Model.Email</h6>
            </div>

            <div class="col-6 col-xl-3 col-md-6 pt-1">
                <small class="text-muted">@Html.DisplayNameFor(model => Model.Telefone)</small>
                <h6>@Model.Telefone</h6>
            </div>
            <div class="col-6 col-xl-3 col-md-6 pt-1">
                <small class="text-muted">@Html.DisplayNameFor(model => Model.TipoDeTrabalhador)</small>
                <h6>@Model.TipoDeTrabalhador</h6>
            </div>
            <div class="col-6 col-xl-3 col-md-6 pt-1">
                <small class="text-muted">@Html.DisplayNameFor(model => Model.Profissao)</small>
                <h6>@Model.Profissao</h6>
            </div>
        </div>
    </div>
</div>
