@model Buscador.ViewModels.TrabalhadorViewModel


@{
    ViewData["Title"] = "Minhas Informações";
}


<div class="d-none d-sm-block">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Trabalhadores" class="color-theme">Lista de Trabalhadores</a></li>
            <li class="breadcrumb-item active" aria-current="page">Minhas Informações</li>
        </ol>
    </nav>
</div>
<div class="d-sm-none">
    <a asp-action="Index" asp-controller="Trabalhadores" aria-label="Botão Início"><em class="mdi mdi-chevron-left h1"></em> Lista de Trabalhadores</a>
</div>
<hr />

<div class="row mt-3">

    <div class="col-3 ">
        <div class="">
            <a class="btn btn-secondary" asp-action="Index">Voltar</a>
        </div>
    </div>
</div>

<div class="card mb-2 pt-2">
    <div class="card-body">

        <div class="row">
            <div class="mb-3">
                <span class="text-mute">Seja bem-vindo(a), </span><span><strong>@Model.Nome</strong></span>
            </div>

            <div class="col-md-4 mt-0">
                <small class="text-muted">@Html.DisplayNameFor(model => Model.Nome)</small>
                <h6>@Model.Nome</h6>
            </div>
            <div class="col-md-4 mt-0">
                <small class="text-muted">@Html.DisplayNameFor(model => Model.Foto)</small>
                <h6>@Model.Foto</h6>
            </div>
            <div class="col-md-4 mt-0">
                <small class="text-muted">@Html.DisplayNameFor(model => Model.Documento)</small>
                <h6>@Model.Documento</h6>
            </div>
            <div class="col-md-4 mt-0">
                <small class="text-muted">@Html.DisplayNameFor(model => Model.Email)</small>
                <h6>@Model.Email</h6>
            </div>
            <div class="col-md-4 mt-0">
                <small class="text-muted">@Html.DisplayNameFor(model => Model.Telefone)</small>
                <h6>@Model.Telefone</h6>
            </div>
            <div class="col-md-4 mt-0">
                <small class="text-muted">@Html.DisplayNameFor(model => Model.TipoDeTrabalhador)</small>
                <h6>@Model.TipoDeTrabalhador</h6>
            </div>
            <div class="col-md-4 mt-0">
                <small class="text-muted">@Html.DisplayNameFor(model => Model.Profissao)</small>
                <h6>@Model.Profissao</h6>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12 col-xl-10 col-md-9 pt-1">
                <h4>Caso queira atualizadar ou remover seu perfil</h4>
                <h6 class="text-mute">Para facilitar a solicitação de serviços. Os formulários serão preenchidos automaticamente com seus dados informados.</h6>
            </div>
            <div class="col-12 col-xl-2 pt-1 col-md-3 ">
                <div class="d-grid justify-content-end">
                    <a class="btn btn-warning mb-1" disable-by-claim-name="Fornecedor" disable-by-claim-value="Editar" asp-action="Edit" asp-route-id="@Model.Id"><em class="mdi mdi-pencil h5" aria-label="Ícone Editar"></em> Editar</a>
                    <a class="btn btn-danger" supress-by-claim-name="Fornecedor" supress-by-claim-value="Excluir" asp-action="Delete" asp-route-id="@Model.Id"><em class="mdi mdi-delete-forever h5" aria-label="Ícone Excluir"></em> Excluir</a>
                </div>
            </div>
        </div>


        <div class="row mt-3">
            <div class="mb-3">
                <h4 class="text-mute">Endereço do trabalhador</h4>
            </div>
            <div class="col-md-4 mt-0">
                <small class="text-muted">@Html.DisplayNameFor(model => Model.EnderecoTrabalhador.Logradouro)</small>
                <h6>@Model.EnderecoTrabalhador.Logradouro</h6>
            </div>
            <div class="col-md-4 mt-0">
                <small class="text-muted">@Html.DisplayNameFor(model => Model.EnderecoTrabalhador.Cidade)</small>
                <h6>@Model.EnderecoTrabalhador.Cidade</h6>
            </div>
            <div class="col-md-4 mt-0">
                <small class="text-muted">@Html.DisplayNameFor(model => Model.EnderecoTrabalhador.Numero)</small>
                <h6>@Model.EnderecoTrabalhador.Numero</h6>
            </div>
            <div class="col-md-4 mt-0">
                <small class="text-muted">@Html.DisplayNameFor(model => Model.EnderecoTrabalhador.Cep)</small>
                <h6>@Model.EnderecoTrabalhador.Cep</h6>
            </div>
            <div class="col-md-4 mt-0">
                <small class="text-muted">@Html.DisplayNameFor(model => Model.EnderecoTrabalhador.Complemento)</small>
                <h6>@Model.EnderecoTrabalhador.Complemento</h6>
            </div>
            <div class="col-12 col-xl-2 pt-1 col-md-">
                <div class="d-grid justify-content-end offset-3">
                    @*<a class="btn btn-warning mb-1" onclick="MostrarModal()">
                        <em class="mdi mdi-pencil h5" aria-label="Ícone Editar"></em> Editar
                    </a>*@
                    <button type="button" class="btn btn-warning mb-1" onclick="mostrarModal()">
                        <em class="mdi mdi-pencil h5" aria-label="Ícone Editar"></em> Editar Endereço
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>

@*<div class="modal" id="exampleModal" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>*@

<div class="modal fade" id="exampleModal" tabindex="1" aria-labelledby="exemploModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exemploModal">Atualizar endereço</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" x></span>
                </button>
                @*<button class="close" type="button" data-dismiss="modal">
                    <span aria-hidden="true" x></span><span class="sr-only">Fechar</span>
                </button>*@
            </div>

            <form asp-action="AtualizarEndereco">
                <div class="modal-body">
                    <input type="hidden" asp-for="EnderecoTrabalhador.TrabalhadorId" />
                    <input type="hidden" asp-for="EnderecoTrabalhador.Id" />

                    <partial name="_EnderecoTrabalhadores" />

                    <div class="modal-footer">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Atualizar Endereço" class="btn btn-success" />

                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function mostrarModal() {
            var myModal = document.getElementById('exampleModal')
            let minhaModal = new bootstrap.Modal(myModal);
            minhaModal.show();
        }
    </script>
}