@*@model PortalDoCidadao.Models.ViewModels.Home.HomeViewModel*@

@{
    ViewData["Title"] = "Início";
}

<div class="col-md-12 paginacomswiper">
    <form asp-action="BuscarServicos" asp-controller="Servico" id="formularioBusca">
        <div class="card card-body">
            <div class="row">
                <div class="col-12 d-none d-lg-block vertical-align mb-2">
                    <h5 class="m-0">Reunimos em um só lugar os serviços do Governo de Rondônia para você</h5>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="input-group">
                        <input id="inputPesquisa" required minlength="3" name="busca" placeholder="O que você está procurando? " autocomplete="off" data-url="@Url.Action("Buscar", "Servico")" class="form-control" />
                        <button class="btn-buscar" arial-label="Botão Buscar"><em class="mdi mdi-magnify" arial-label="Ícone Botão Buscar"></em></button>
                    </div>
                    <ul id="resultadoDaPesquisa" class="list-group w-100"></ul>
                </div>

            </div>
        </div>
    </form>

    <h3 class="color-theme-dark text-center mt-5"><strong>Serviços para o cidadão de Rondônia</strong></h3>
    <div class="container">
        <h5 class="subtitle">Destaques</h5>
        <div class="row">
            <div class="container px-0 d-flex justify-content-center">
                <!-- Swiper -->
                <div class="swiper-container offer-slide">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="card shadow border-0">
                                <div class="card-body">
                                    <div class="row h-100">
                                        <div class="col-auto pr-0">
                                            <div class="avatar avatar-60 no-shadow border-0">
                                                <div class="overlay gradient-success"></div>
                                                <em class="mdi mdi-microscope color-theme h3" aria-label="saude"></em>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <p>ATENDE EM CASA<br><small class="text-secondary">SESAU</small></p>
                                            <p class="text-secondary text-mute small">Solicitar consulta médica</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card shadow border-0">
                                <div class="card-body">
                                    <div class="row h-100">
                                        <div class="col-auto pr-0">
                                            <div class="avatar avatar-60 no-shadow border-0">
                                                <div class="overlay gradient-success"></div>
                                                <em class="mdi mdi-briefcase-search color-theme h3" aria-label="emprego"></em>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <p>SEGURO DESEMPREGO<br><small class="text-secondary">SRTRO</small></p>
                                            <p class="text-secondary text-mute small">Solicitar seguro-desemprego</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card shadow border-0">
                                <div class="card-body">
                                    <div class="row h-100">
                                        <div class="col-auto pr-0">
                                            <div class="avatar avatar-60 no-shadow border-0">
                                                <div class="overlay gradient-warning"></div>

                                                <em class="mdi mdi-storefront color-theme h3" aria-label="empresa"></em>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <p>ABERTURA DE EMPRESA<br><small class="text-secondary">JUCER</small></p>
                                            <p class="text-secondary text-mute small">Solicitar abertura de empresa</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card shadow border-0">
                                <div class="card-body">
                                    <div class="row h-100">
                                        <div class="col-auto pr-0">
                                            <div class="avatar avatar-60 no-shadow border-0">
                                                <div class="overlay gradient-success"></div>
                                                <em class="mdi mdi-microscope color-theme h3" aria-label="emprego"></em>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <p>CARTEIRA DE TRABALHO<br><small class="text-secondary">SRTRO</small></p>
                                            <p class="text-secondary text-mute small">Solicitar carteira de trabalho</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card shadow border-0">
                                <div class="card-body">
                                    <div class="row h-100">
                                        <div class="col-auto pr-0">
                                            <div class="avatar avatar-60 no-shadow border-0">
                                                <div class="overlay gradient-success"></div>
                                                <em class="mdi mdi-microscope color-theme h3" aria-label="saude"></em>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <p>MEDICAMENTOS<br><small class="text-secondary">SESAU</small></p>
                                            <p class="text-secondary text-mute small">Solicitar medicamentos</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h6 class="subtitle">Mais acessados</h6>
        <div class="row ">
            <div class="container px-0 d-flex justify-content-center">
                <!-- Swiper -->
                <div class="swiper-container offer-slide">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="card shadow border-0">
                                <div class="card-body">
                                    <div class="row h-100">
                                        <div class="col-auto pr-0">
                                            <div class="avatar avatar-60 no-shadow border-0">
                                                <div class="overlay gradient-success"></div>
                                                <em class="mdi mdi-police-badge color-theme h3" aria-label="defesa civil"></em>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <p>MARIA DA PENHA<br><small class="text-secondary">PC-RO</small></p>
                                            <p class="text-secondary text-mute small">Denunciar agressão</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card shadow border-0">
                                <div class="card-body">
                                    <div class="row h-100">
                                        <div class="col-auto pr-0">
                                            <div class="avatar avatar-60 no-shadow border-0">
                                                <div class="overlay gradient-success"></div>
                                                <em class="mdi mdi-police-badge color-theme h3" aria-label="defesa civil"></em>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <p>ALERTA CELULAR<br><small class="text-secondary">Defesa Civil</small></p>
                                            <p class="text-secondary text-mute small">Solicitar alerta para celular</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card shadow border-0">
                                <div class="card-body">
                                    <div class="row h-100">
                                        <div class="col-auto pr-0">
                                            <div class="avatar avatar-60 no-shadow border-0">
                                                <div class="overlay gradient-success"></div>
                                                <em class="mdi mdi-police-badge color-theme h3" aria-label="defesa civil"></em>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <p>DELEGACIA VIRTUAL<br><small class="text-secondary">PC-RO</small></p>
                                            <p class="text-secondary text-mute small">Abrir boletim de ocorrência</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card shadow border-0">
                                <div class="card-body">
                                    <div class="row h-100">
                                        <div class="col-auto pr-0">
                                            <div class="avatar avatar-60 no-shadow border-0">
                                                <div class="overlay gradient-success"></div>
                                                <em class="mdi mdi-briefcase-search color-theme h3" aria-label="emprego"></em>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <p>VAGA ESTÁGIO<br><small class="text-secondary">SRTRO</small></p>
                                            <p class="text-secondary text-mute small">Concorrer a vaga de estágio</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card shadow border-0">
                                <div class="card-body">
                                    <div class="row h-100">
                                        <div class="col-auto pr-0">
                                            <div class="avatar avatar-60 no-shadow border-0">
                                                <div class="overlay gradient-success"></div>
                                                <em class="mdi mdi-microscope color-theme h3" aria-label="saude"></em>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <p>ÓTICA - LENTES<br><small class="text-secondary">SESAU</small></p>
                                            <p class="text-secondary text-mute small">Solicitar lente de contato</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</div>

<h3 class="color-theme-dark text-center p-4 mt-4"><strong>Comunicados</strong></h3>

<div class="container">
    <div class="row">
        <!-- Swiper -->
        <div class="swiper-container news-slide">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card shadow-sm border-0 bg-dark text-white">
                        <figure class="background">
                            <img src="images/product1.jpg" alt="">
                        </figure>
                        <div class="card-body">
                            <h5 class="small">Portal do Cidadão no Ar!</h5>
                            <p class="text-mute small">Setic</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card shadow-sm border-0 bg-dark text-white">
                        <figure class="background">
                            <img src="images/product3.jpg" alt="">
                        </figure>
                        <div class="card-body">
                            <h5 class="small">Vacine-se contra a COVID-19!</h5>
                            <p class="text-mute small">Sesau</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card shadow-sm border-0 bg-dark text-white">
                        <figure class="background">
                            <img src="images/product2.jpg" alt="">
                        </figure>
                        <div class="card-body">
                            <h5 class="small">Novo decreto nº 26.134</h5>
                            <p class="text-mute small">Governo do Estado de Rondônia</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card shadow-sm border-0 bg-dark text-white">
                        <figure class="background">
                            <img src="images/product4.jpg" alt="">
                        </figure>
                        <div class="card-body">
                            <h5 class="small">Seduc adota campanha Agosto Lilás</h5>
                            <p class="text-mute small">Seduc</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card shadow-sm border-0 bg-dark text-white">
                        <figure class="background">
                            <img src="images/product5.jpg" alt="">
                        </figure>
                        <div class="card-body">
                            <h5 class="small">Multipurpose Juice allows you to grow faster</h5>
                            <p class="text-mute small">Seduc</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card shadow-sm border-0 bg-dark text-white">
                        <figure class="background">
                            <img src="images/product3.jpg" alt="">
                        </figure>
                        <div class="card-body">
                            <h5 class="small">Multipurpose Juice allows you to grow faster</h5>
                            <p class="text-mute small">Governo do Estado de Rondônia</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>

<h3 class="text-center color-theme-dark p-4 mt-5"><strong>Navegue por Categorias</strong></h3>

<div class="row row-cols-1 row-cols-lg-4 row-cols-md-3 row-cols-sm-2">
    @*@foreach (var categoria in Model.Categoria)
    {
        <div class="col p-2">
            <a asp-action="ServicosDaCategoria" asp-controller="Servico" asp-route-id="@categoria.Id">
                <div class="card-categoria">
                    <div class="align-self-center">
                        <em class="@categoria.Icone" aria-label="@categoria.Descricao"></em>
                        <h5>@categoria.Descricao</h5>
                    </div>
                </div>
            </a>
        </div>
    }*@
</div>

@section Scripts{
    <script>var urlAction = '@Url.Action("Detalhes", "servico")';</script>
    <script src="~/js/servico/buscarServico.js"></script>
}