@model Buscador.Models.ViewModels.SolicitacaoViewModel

@{ 
    ViewData["Title"] = "Criar Solicitacão";
}

<div class="d-none d-sm-block">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" class="color-theme"><em class="mdi mdi-home"></em> Início</a></li>
            <li class="breadcrumb-item active color-theme" aria-current="page">Solicitarcao</li>
        </ol>
    </nav>
</div>
<div class="d-sm-none">
    <a asp-action="Index" asp-controller="Home" aria-label="Botão Início" class="breadcrumb-inicio color-theme"><em class="mdi mdi-chevron-left"></em> Início</a>
</div>
<hr />

<div class="mb-3">
    <span class="text-mute">Seja bem-vindo(a), </span><span><strong>@*@Model.FirstOrDefault().Cliente.Nome*@</strong></span>
</div>

<div class="d-flex justify-content-between">
    <h3>@ViewData["Title"]</h3>
</div>

@if (Model.NomeDoTrabalhador.Any())
{
    <div class="row mt-3">
        <div class="col-md col-sm-12 mb-2">

            <div class="card mb-2">
                <div class="card-body">
                    <form asp-action="Create" class="form-horizontal row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="@Model.TrabalhadorId" class="form-control" type="hidden" />
                        <input asp-for="@Model.ClienteId" class="form-control" type="hidden" />
                        <div class="form-group">
                            <label asp-for="@Model.NomeDoTrabalhador class=" control-label"></label>
                            <input asp-for="@Model.NomeDoTrabalhador" value="@Model.NomeDoTrabalhador" class="form-control" readonly />
                            <span asp-validation-for="@Model.NomeDoTrabalhador" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.ProfissaoDoTrabalhador" class="control-label"></label>
                            <input asp-for="@Model.ProfissaoDoTrabalhador" class="form-control" readonly />
                            <span asp-validation-for="@Model.ProfissaoDoTrabalhador" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.NomeDoCliente" class="control-label"></label>
                            <input asp-for="@Model.NomeDoCliente" class="form-control" />
                            <span asp-validation-for="@Model.NomeDoCliente" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <a class="btn btn-outline-default" asp-action="Index" asp-controller="Trabalhadores" asp-route-Id="">Voltar</a>
                            <button type="submit" class="btn btn-default">Solicitar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row mt-3">
        <div class="col-md col-sm-12 mb-2">
            <div class="card">
                <div class="card-body">
                    <h4>Você não fez nenhuma Solicitação.</h4>
                </div>
            </div>
        </div>
    </div>
}
