@model IEnumerable<Buscador.Models.ViewModels.SolicitacaoViewModel>

@{
    ViewData["Title"] = "Minhas Solicitacoes";
}

<div class="d-none d-sm-block">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" class="color-theme"><em class="mdi mdi-home"></em> Início</a></li>
            <li class="breadcrumb-item active color-theme" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav>
</div>
<div class="d-sm-none">
    <a asp-action="Index" asp-controller="Home" aria-label="Botão Início" class="breadcrumb-inicio color-theme"><em class="mdi mdi-chevron-left"></em> Início</a>
</div>
<hr />

@if (Model.Any())
{

    <div class="mb-3">
        <span class="text-mute">Seja bem-vindo(a), </span><span><strong>@Model.FirstOrDefault().Trabalhador.Nome</strong></span>
    </div>

    <div class="">
        <h3>@ViewData["Title"]</h3>
    </div>

    @foreach (var item in Model.OrderBy(s => s.StatusDaSolicitacao))
    {
        <div class="card mb-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-4 border-left-theme border-3">
                        <div class="d-flex justify-content-start align-items-start">
                            <img src="~/imagens/@item.FotoCliente" alt="@item.FotoCliente" style="width: 80px; height: 80px; border-radius: 50%; " class="" />
                        </div>
                    </div>
                    <div class="col-8 border-left-theme border-3">
                        <small class="text-muted">Solicitado por:</small>
                        <h4>@item.NomeDoCliente</h4>
                    </div>

                    <div class="col-6 col-xl-3 col-md-6 pt-1">
                        <small class="text-muted">Data da Solicitação</small>
                        <h5 class="text-muted">@item.DataDaSolicitacao.ToString("dd/MM/yyyy")</h5>
                    </div>

                    <div class="col-6 col-xl-3 col-md-6 pt-1">
                        <small class="text-muted">Tempo solicitado</small>
                        <h5 class="text-muted">1 dia</h5>
                    </div>

                    <div class="col-6 col-xl-3 col-md-6 pt-1">
                        <small class="text-muted">Status da Solicitação</small>
                        @{
                            var corStatus = item.StatusDaSolicitacao == "Aprovado" ? "text-success" : "text-primary";
                        }
                        @*@{var corStatus = item.StatusDaSolicitacao == StatusDaSolicitacao.Reprovado ? "text-danger" : "text-primary";}*@
                        <h5 class="@corStatus"><strong>@item.StatusDaSolicitacao</strong></h5>
                    </div>
                    @if (item.StatusDaSolicitacao != "Aprovado")
                    {
                        <div class="col-6 col-xl-3 col-md-6 pt-1">
                            <a asp-action="AprovarSolicitacao" asp-controller="Solicitacao" asp-route-solicitacaoId="@item.Id" aria-label="Aprovar Solicitação" class="btn btn-primary">
                                Aprovar  <em class="mdi mdi-check-circle"></em>
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="col-6 col-xl-3 col-md-6 pt-1">
                            <a aria-label="Whatsapp" class="btn btn-success text-white">
                                Whatsapp <em class="mdi mdi-whatsapp"></em>
                            </a>
                        </div>
                    }

                </div>
            </div>
        </div>
    }
}
else
{
    <div class="row mt-3">
        <div class="col-md col-sm-12 mb-2">
            <div class="card">
                <div class="card-body">
                    <h4>Você não tem nenhuma Solicitação.</h4>
                </div>
            </div>
        </div>
    </div>
}
